*{
margin: 0;
padding: 0;
box-sizing:border-box;
font-family: 'Poppins', sans-serif;
}

body{
background-color: #E6E6E6;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
padding: 20px;
}

.mobile-card{
     background-color: #ffffff;
     width: 100%;
     max-width: 390px;
     height: 624px;
     top: 220px;
     border-radius: 40px;
     box-shadow: 0 20px 40px rgba(0, 0, 0, 0, 1);
     display: flex;
     flex-direction: column;
     position: relative;
     overflow: hidden;
}

.header-text{
     padding: 50px;
}
     
.header-text h1{
     font-size: 32px;
     font-weight: 600;
     color: #333333;
     margin-bottom: 12px;
     line-height: 1.2;
}

.header-text p{
     font-size: 16px;
     color: #888;
     line-height: 10.5px;
     margin-top: 10px;
     padding-right: 20px;
}

.hero-card{
     flex-grow: 1;
     position: relative;
     border-radius: 30px;
     overflow: hidden;
}

.hero-card img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     display: block;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     border-bottom-left-radius: 40px;
     border-bottom-right-radius: 40px;
}

.button-container{
    position: absolute;
    top: 30px;
    left: 25px;
    right: 25px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    z-index: 2;
} 

.btn{
     flex: 1;
     padding: 16px;
     border: none;
     border-radius: 16px;
     font-size: 16px;
     font-weight: 600;
     cursor: pointer;
     transition: opacity 0.2s;
}

.btn:hover{
     opacity: 0.9;
}

.next-btn{
     background-color: #007A8C;
     color: white;
     top: 30px;
     right: 25px;
}

.skip-btn{
     background-color: rgb(140, 212, 212);
     color: #007A8C; 
     top: 30px;
     left: 25px;

}

/* .home-indicator{
     position: absolute;
     bottom: 8px;
     left: 50%;
     transform: translateX(-50%);
     width: 130px;
     height: 5px;
     background-color: #000;
     border-radius: 10px;
     opacity: 0.1;
     z-index: 3;
} */