body{
     margin: 0;
     font-family: 'Poppins', sans-serif;
     background-color: #F8F8F8;
     color: #333;
}

.onboarding-screen{
     max-width: 450px;
     height: 100vh;
     margin: 0 auto;
     padding: 20px;
     box-sizing: border-box;
     display: flex;
     flex-direction: auto;
     align-items: center;
     justify-content: center;
     text-align: center;
}

.content-container{
     display: flex;
     flex-direction: column;
     align-items: center;
     flex-grow: 1;
     justify-content: space-around;
     width: 100%;
     max-height: 80%;
}

.logo-area{
     margin-bottom: 40px;
}

.travel-logo-placeholder{
     width: 150px;
     height: 150px;
     border-radius: 50%;
     background-color: #1a7e5c;
     display: flex;
     align-items: center;
     justify-content: center;
}

.text-content{
     margin-bottom: 50px;
}

.text-content h1{
     font-size: 28px;
     font-weight: 600;
     line-height: 1.3;
     margin-top: 0;
     margin-bottom: 15px;
     color: #111;
}

.text-content p{
     font-size: 16px;
     color:  #000000;
     margin: 0;
}

.get-started-button{
     width: 100%;
     padding: 15px 30px;
     background-color: #007A8C;
     color: white;
     font-size: 18px;
     font-weight: 600;
     border-radius: 8px;
     cursor: pointer;
     transition: background-color 0.3s;
     align-self: flex-end;
     margin-bottom: 20px;
     max-width: 90%;
}

.get-started-button-hover{
     background-color: #146149;
}