*{
     box-sizing: border-box;
     margin: 0%;
     padding: 0%;
     font-family: 'Poppins', sans-serif;
}

body{
     background-color: #f0f2f5;
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
}

.mobile-container{
     background-color: #fff;
     width: 375px;
     height: 812px;
     padding: 40px 30px;
     border-radius: 30px;
     box-shadow: 0 10px 25px rgba(0,0,0,1);
     display: flex;
     flex-direction: column;
     position: relative;
}

h1{
     font-size: 28px;
     color: #333;
     margin-bottom: 10px;
     font-weight: 600;
}

p{
     font-size: 14px;
     color: #666;
     line-height: 1.5;
     margin-bottom: 30px;
}

.input-group{
     margin-bottom: 20px;
}

label{
     display: block;
     font-size: 14px;
     font-weight: 500;
     color: #444;
     margin-bottom: 8px;
}

input{
     width: 100%;
     padding: 14px;
     border: 1px solid #eee;
     background-color: #f9f9f9;
     border-radius: 12px;
     font-size: 14px;
     outline: none;
     transition: 0.3s;
}

input:focus{
     border-color: #8edeb8;
     background-color: #fff;
}


input::placeholder{
     color: #aaa;
}

.icon-input{
     position: relative;
     width: 100%;
}

.input-icon-left{
     position: absolute;
     left: 16px;
     top: 50%;
     transform: translateY(-50%);
     color: #888;
}

.input-icon-right{
     position: absolute;
     left: 16px;
     top: 50%;
     transform: translateY(-50%);
     color: #888;
     cursor: pointer;
}

.has-left-icon{
     padding-left: 45px;
}
.checkbox-group{
     display: flex;
     align-items: flex-start;
     gap: 10px;
     margin-top: 10px;
     font-size: 13px;
     color: #555;
}

.checkbox-group input{
     width: auto;
     margin-top: 3px;
}

.checkbox-group a, .signin-link a{
     color: #444;
     text-decoration: underline;
     font-weight: 600;
}

.signin-link{
     text-align: center;
     font-size: 13px;
     color: #666;
     margin: 25px 0;
}

.signin-link a{
     color: #2ea073;
     text-decoration: none;
}

.submit-btn{
     width: 100%;
     padding: 16px;
     background-color: #8edeb8;
     color: #fff;
     border: none;
     border-radius: 12px;
     font-size: 16px;
     font-weight: 600;
     cursor: pointer;
     margin-top: auto;
}

.submit-btn:hover{
     background-color: #7BC4A6;
}

.home-bar{
     width: 130px;
     height: 5px;
     background-color: #333;
     border-radius: 10px;
     margin: 20px auto 0 auto;
}