body{
     background-color: #007a8c;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
     min-height: 100vh;
     flex-wrap: wrap;
     padding: 20px;
     font-family: sans-serif, 'Poppins';
}

.mobile-screen{
     width: 375px;
     height: 812px;
     border-radius: 30px;
     overflow: hidden;
     box-shadow: 0 20px 40px rgba(0,0,0,2);
     position: relative;
}

.splash-screen{
     background-color: #007a8c;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: #3f5153;
}

.logo-area{
     text-align: center;
}

.logo-icon{
     font-size: 80px;
     margin-bottom: 10px;
}

.splash-title{
     font-size: 28px;
     margin-bottom: 5px;
     letter-spacing: 0.5px;
}

.splash-subtitle{
     color: azure;
     font-weight: 400;
     font: Poppins;
     font-style: Regular;
     font-size: 16px;
     line-height: 100%;
     letter-spacing: 0%;

}