body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f6f6f6;
}

.profile-container {
    width: 100%;
    max-width: 430px;
    margin: auto;
    
    padding: 32px 20px; 
    margin-bottom: 16px;      
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
}

.top-box {
    background: white;
    padding: 40px 10px;
    text-align: center;
    border-bottom: 1px solid #eee;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;    
}

.avatar {
    width: 90px;
    height: 90px;
    border-radius: 20px;
    object-fit: cover;
}

.menu {
    padding: 20px;
}

.menu-item {
    background: white;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: background 0ms;
}

.menu-item:hover {
    background: #f0f0f0;
}

.menu-item i {
    width: 22px;
    height: 22px;
}

.delete {
    border: 1.5px solid #ff6b6b;
    color: #ff6b6b;
}

/* OVERLAY SYSTEM */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.35);
    display: none;
    align-items: center;
    justify-content: center;
}

.overlay-box {
    width: 300px;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
}

.overlay-box button {
    margin-top: 12px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.overlay-box .danger {
    background: #ff6b6b;
    color: white;
}
