body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f6f6f6;
}

.profile-container {
    width: 100%;
    max-width: 430px;
    margin: auto;
    
    padding: 32px 20px; 
    margin-bottom: 16px;      
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
}

.top-box {
    background: white;
    padding: 40px 10px;
    text-align: center;
    border-bottom: 1px solid #eee;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;    
}

.avatar {
    width: 90px;
    height: 90px;
    border-radius: 20px;
    object-fit: cover;
}

.menu {
    padding: 20px;
}

.menu-item {
    background: white;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: background 0ms;
}

.menu-item:hover {
    background: #f0f0f0;
}

.menu-item i {
    width: 22px;
    height: 22px;
}

.delete {
    border: 1.5px solid #ff6b6b;
    color: #ff6b6b;
}

/* OVERLAY SYSTEM */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.35);
    display: none;
    align-items: center;
    justify-content: center;
}

.overlay-box {
    width: 300px;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
}

.overlay-box button {
    margin-top: 12px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.overlay-box .danger {
    background: #ff6b6b;
    color: white;
}
/* FOOTER NAVIGATION */
 /*.footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 520px;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-around;
    padding: 14px 0;
    border-top: 1px solid #ccc;
    z-index: 999;
  }

  .footer-item {
    text-align: center;
    color: #777;
    font-size: 13px;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  .footer-item i {
    font-size: 24px;
    font-weight: 900;
  }

  .footer-item.active {
    color: #00798c;
  }*/
    .footer {
        display: flex;
        justify-content: space-around;
        padding: 12px 0;
        background: white;
        border-top: 1px solid #ddd;
      }
        .nav-item {
        text-align: center;
        font-size: 14px;
        color: #666;
      }

      .active {
        color: #1fb5c9;
      }

      .nav-item i {
        font-size: 22px;
        display: block;
        margin-bottom: 4px;
      }