
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Poppins, sans-serif;
      }

      body {
        background: #f3f7f8;
        padding-bottom: 80px;
      }
      img{
        width: 100%;
      }
      /* HEADER */
      .top-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background: #fff;
      }

      .top-nav .left {
        display: flex;
        gap: 15px;
        align-items: center;
      }

      .avatar {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }

      .icon {
        width: 22px;
        margin-left: 18px;
      }

      /* SECTION TITLE */
      .section-header {
        display: flex;
        justify-content: space-between;
        padding: 20px;
      }

      .section-header a {
        color: #3bbcd8;
        font-weight: 500;
      }

      /* CARDS GRID */
      .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 18px;
        padding: 0 20px 20px;
        
      }

      .card {
        background: #fff;
        
        padding-bottom: 15px;
        text-align: center;
        overflow: hidden;
        position: relative;
        background: none;
      }

      .card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        position: relative;
        border-radius: 15px;
      }

      .card h4 {
        margin: 8px 0;
        position: absolute;top: 100px;left: 20px;
        color: white;
        -webkit-text-stroke: #3bbcd8 1px; 
        display: inline;
       font-size: x-large;
      }

      .rating {
        font-size: 14px;
        margin-top: 5px;
        position: absolute;top: 144px; left: 20px;
      }

      /* BUTTON */
      button {
        background: #9bd9e3;
        padding: 8px 20px;
        border-radius: 10px;
        font-weight: 500;
        border: none;
        cursor: pointer;
        color: rgba(0, 122, 140, 1);

      }

      
      .nav {
        position: fixed;
        /* bottom: 0; */
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0;
        background: #fff;
        border-bottom: 1px solid #ddd;
        background-color: #3bbcd8;
        z-index: 1;
      }

    
#menu-toggle{
  display: none;
}
.menu-icon{
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  display: none;
  text-align: center;
}
.nav-links{
  display: flex;
  
  gap: 20px;
  padding-right: 50px;
  align-items: center;
  margin-top: 20px;
}
.nav-links a{
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: color 0.5s ease;
 
}
#menu-toggle:checked+.menu-icon+.nav-links{
  display: flex;
  flex-direction: column;
}
.search-container i:hover{
  cursor: pointer;
}
.logo{
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  text-align: center;
  width: 50px;
  border-radius: 50%;
  align-items: center;
  object-fit: cover;
}

ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
  gap: 10%;
  padding-right: 50px;
  
}
ul li{
  cursor: pointer;
  
}

li a:hover{
  border: 2px solid;
  background-color: white;
  color: rgb(23, 49, 101);
}


ul li:hover{
  color: red;
  transition: 0.3s;
  animation: forwards;
}


      
      .top-nav{
        position: relative;
       margin-top: 5rem;
       
      }
      .left{
        display: flex;
        flex-direction: row;
       
      }
      .left2{
        width: 100%;
        display: flex;
        flex-direction: column;
        line-height: 0;
         >img{
            width: 20%;
        }
      }
      

      a{
        text-decoration: none;
        font-size: larger;
        padding-right: 10px;
      }
      .logo{
        >img{
            width: 2rem;
            height: 2rem;
            /* top: 336px;
            left: 149px; */
            /* angle: 0 deg; */
            opacity: 1;

            
        }
        /* width: 50px; */
        margin-left: 20px;
        background: linear-gradient(180deg, #007A8C 0%, #002126 95.19%);
        /* padding: 5px; */
        justify-content: center;
        place-items: center;
        align-items: center;
        text-align: center;
        line-height: 80%;
        padding: 0.5rem;
        border-radius: 50%;
        >h5{
            color: rgba(230, 230, 230, 1);
            font-family: Poppins;
            font-family: Poppins;
            font-weight: 400;
            font-style: Regular;
            font-size: 0.5rem;
            leading-trim: NONE;
            line-height: 100%;
            letter-spacing: 0%;
            margin: 0;


        }
        >h5 >span{
            color: rgba(61, 153, 174, 1);

        }
        >p{
            color: rgba(230, 230, 230, 1);
            font-family: Poppins;
            font-weight: 400;
            font-style: Regular;
            font-size: 0.3rem;
            leading-trim: NONE;
            line-height: 100%;
            letter-spacing: 0%;

        }
      }

      .nav-item >span{
        display: none;
      }

      .nav-item.active span {
        color: #3bbcd8;
      }
      .card-hidden{
        display: none;
      }

     
      @media (max-width: 768px) {
        .cards {
          grid-template-columns: 1fr 1fr;
        }

        .card img {
          height: 180px;
        }
        .card {
        background: #fff;
        
        padding-bottom: 15px;
        text-align: center;
        overflow: hidden;
        position: relative;
        background: none;
      }

        .menu-icon{
            display: blocK;
        }

        .menu-icon{
            display: blocK;
        }

        .nav-item{
        display: none;
        flex-direction: row;
        }

      .card img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        position: relative;
        border-radius: 15px;
      }
      .card h4 {
        margin: 8px 0;
        position: absolute;top: 125px;left: 20px;
        color: white;
        -webkit-text-stroke: #3bbcd8 1px; 
        display: inline;
       font-size: 18px;
      }
      }

      
       @media (max-width: 480px) {
        .cards {
          grid-template-columns: 1fr;
        }

        .top-nav {
          flex-direction: column;
          align-items: flex-start;
        }

        button {
          width: 90%;
        }

        .menu-icon{
            display: blocK;
        }

        .nav-item{
        display: none;
        flex-direction: row;
        }

        .card img {
          height: 200px;
        }
        .card {
        background: #fff;
        object-fit:fill;
        
        padding-bottom: 15px;
        text-align: center;
        overflow: hidden;
        position: relative;
        background: none;
      }

      .card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        position: relative;
        border-radius: 15px;
        
      }
      .card h4 >.rating{
        margin: 8px 0;
        position: absolute;top: 125px;left: 20px;
        color: white;
        -webkit-text-stroke: #3bbcd8 1px; 
        display: inline;
       font-size: 16px;
      } 
      } 
      
     