* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      body {
        margin: 10px;
      }
      /* label{
        text-align: left;
      } */
      .form {
        place-items: center;
        display: flex;
        flex-direction: column;
        gap: 90px;
        font-family: poppins, sans-serif;
        /* padding-bottom: 0; */
        /* text-align: start; */
        /* margin: 50px;
        padding: 50px; */
        
      }
      
      h1 {
        font-family: Poppins, sans-serif;
        font-weight: 500;
        font-style: Medium;
        font-size: 36px;
        
        letter-spacing: 0%;
        text-align: center;
        /* width: 342px; */
        /* height: 40px; */
       
        color: #333;
      }
      a {
        text-decoration: none;
        color: var(--color-orange-green-6-main, #007a8c);
        margin-left: 10px;
        font-weight: 500;
      }
      p {
        font-size: 16px;
        color: #666;
        text-align: center;
        font-family: Poppins, sans-serif;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
      
        line-height: 30px;
        word-spacing: 5px;
        
        color: var(--Color-Black-Black-5, #444444);

        margin-bottom: 70px;
      }
      .email-input {
        background-image: url("https://cdn-icons-png.flaticon.com/512/561/561127.png");
        background-size: 18px;
        background-repeat: no-repeat;
        background-position: 10px;
        padding: 10px 20px 10px 40px;
        border: 1px solid #ccc;
        border-radius: 12px;
        font-size: 14px;
        /* width: 200%; */
        margin-top: 10px;
        color: #4444;
      }
      .password-input {
        /* background-image: url("https://cdn-icons-png.flaticon.com/512/3064/3064197.png"); */
        /* background-image: url("https://cdn-icons-png.flaticon.com/512/709/709612.png"); */
        background-image: url("https://cdn-icons-png.flaticon.com/512/565/565655.png");
        display: flex;
        flex-direction: row-reverse;
        background-size: 18px;
        background-repeat: no-repeat;
        background-position: 10px center;
        padding: 10px 20px 10px 40px;
        border: 1px solid #ccc;
        border-radius: 12px;
        font-size: 14px;
        /* width: 200%; */
        margin: 10px 0px 50px;
      }
      .btn {
        justify-content: center;
        align-items: center;
        place-items: center;
        text-align: center;
      }
      button {
        background: var(--color-orange-green-6-main, #007a8c);
        color: white;
        width: 339px;
        height: 40px;

        opacity: 1;
        top: 741px;
        left: 26px;
        padding-top: 8px;
        padding-right: 12px;
        padding-bottom: 8px;
        padding-left: 12px;
        gap: 4;
        border-radius: 12px;
        border: none;
      }
      form{
        display: flex;
        flex-direction: column;
        line-height: 0;
      }
      @media(max-width: 600px){
        body{
          justify-content: left;
          text-align: left;
          margin: 20px;
        }
        h1{
          text-align: left;
        }
        p{
          text-align: left;
        }
        .form{
          place-items: start;
        }
        .email-input{
          width: 200%;
        }
        .password-input{
          width: 200%;
        }
        .btn{
          text-align: center;
        }
        .sign-in{
          text-align: center;
        }
      }